<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/Intranet</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">adminadmin1</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="models.Student"/>
        <mapping class="models.Attendance"/>
        <mapping class="models.Subject"/>
        <mapping class="models.Schedule"/>
        <mapping class="models.Teacher"/>
        <mapping class="models.Transcript"/>
        <mapping class="models.Auth"/>
        <mapping class="models.Admin"/>

    </session-factory>
</hibernate-configuration>